# Dependencies
/async-2026/
/web/node_modules/

# Next.js build output
/web/.next/
/web/out/
/web/build/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
